<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings><add name="HighSchoolMVCEntities" connectionString="metadata=res://*/EntityFramework.HighSchoolMVCEntities.csdl|res://*/EntityFramework.HighSchoolMVCEntities.ssdl|res://*/EntityFramework.HighSchoolMVCEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WAGNER-PC;initial catalog=HighSchoolMVC;persist security info=True;user id=sa;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>

</configuration>